@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Montserrat:wght@200&display=swap");

:root {
  --color-principal: #8e8e8e;
  --color-secundario: #b2b2b2;
  --color-fondo: #edede9;
  --fuente-base: "Montserrat", sans-serif;
  --fuente-titulos: "Montserrat Alternates", sans-serif;
}

/*Estilos del body*/
body {
  font-family: var(--fuente-base);
  margin: 0;
  padding: 0;
  background-color: var(--color-fondo);
}


/*Estilos del navbar*/

.navbar {
  background-image: url(../imagenes/fondo_roof.png);
  background-size: cover;
  background-position: center;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-nav li:hover {
  background-color: var(--color-principal);
  border-radius: 2rem;
}


/*Estilos de letras*/

#inicio {
  font-family: var(--fuente-titulos);
}

h2 {
  font-family: var(--fuente-titulos);
}

/*Estilos secciones*/

#servicios {
  background-color: var(--color-secundario);
}

.catalogo {
  background-color: var(--color-secundario);
}

.card {
  background-color: var(--color-fondo);
}

.card-img-top {
  border-radius: 50px;
  padding: 20px;
  max-width: 100%;
  height: auto;
}

.card {
  border: none;
  border-radius: 50px;
}

.card-title {
  font-family: var(--fuente-titulos);
  font-size: 1.5rem;
}
.card-body {
  padding: 25px;
  margin-top: 0px;
  font-size: 1rem;
}
.productos-roof {
  background-color: var(--color-secundario);
}

/*Estilos Footer*/

.footer {
  background-image: url(../imagenes/fondo_roof.png);
  background-size: cover;
  background-position: center;
}

/*Estilos imagenes y multimedia*/

.carousel-inner {
  max-height: 30rem;
}

.productos-disponibles {
  display: flex;
  width: auto;
  height: auto;
}

.productos-disponibles img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

.productos-disponibles img:hover {
  width: 200px;
  opacity: 1;
  filter: contrast(120%);
}

iframe {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .catalogo {
    padding: 0rem 10rem 0rem 10rem;
  }

  .carousel-item {
    background-image: url(../imagenes/fondo_roof.png);
  }
}
